body {
    font-family: PT Sans;
    margin: 0px;
}

.mainPage{
    width: 100%;
    height: 100%;
    min-width: 850px;
    background-color: black;
}

.header{
    position: fixed;
    width: 100%;    
}

.headerFirst {
    display: flex;
    justify-content: center;
    height: 44px;
    background-color: black;
    font-size: 12px;
    line-height: 16px;
    color: #969696;
}

.headerSecond {
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: #0F0F0F;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #969696;;
}

.headerContentContainer {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.headerContent {
    display: flex;
    align-items: center;
}

.headerDelimiter {
    height: 12px;
    width: 1px;
    background-color: #969696;
    margin-left: 15px;
}

.headerPadding {
    padding-left: 15px;
    cursor: default;
}

.headerCompanyName {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

.headerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px 0 20px;
    cursor: pointer;
}

.headerButton:hover {
    color: #FFFFFF;
    background: #1F1F1F;
}

.headerIconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    margin-left: 15px;
    border-radius: 24px;
    cursor: pointer;
}

.headerIconButton:hover {
    background: #1F1F1F;
}

.mainContent{
    padding-top: 124px;
}

.mainCompanyNameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 810px;
    background-image: url(img/mainInfo.png);
    background-position: center;
    background-size: cover;
}

.mainCompanyName {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 93px 68px 93px 68px;
    border: 4px solid #FFFFFF;
}

.companyName {
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
}

.mainCompanyInfo {
    width: 750px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.companyNameUnderlining {
    width: 180px;
    height: 2px;
    background-color: #FFFFFF;
}

.companyNameCity {
    padding-top: 8px;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mainCollections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.mainCollectionSmall {
    flex-basis: 40%;
    flex-grow: 1;
    min-width: 600px;
    height: 730px;
    background: rgb(105, 36, 36);
}

.mainCollectionSmall:nth-last-of-type(1)  {
    height: 600px;
}

.mainCollectionBig {
    flex-basis: 55%;
    flex-grow: 1;
    min-width: 600px;
    height: 730px;
    background: rgba(10, 92, 10, 0.5);
}

.mainCollectionBig:nth-last-of-type(2)  {
    height: 600px;
}